.light{
    color: #555;
    background-color: #eee;
}
.dark{
    color: #eee;
    background-color: #555;
}

button {
    padding: 5px;
    font-size: 2rem;
    border: solid 1px red;
    border-radius: 10px;
    cursor: pointer;
}